# Flutter/Dart/Pub related
**/ios/Flutter/Generated.xcconfig
**/ios/Podfile.lock
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/FlutterPluginRegistrant/
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Build related
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# IDE related
.idea/
.vscode/
*.swp
*.swo

# OS related
.DS_Store
Thumbs.db

# Android related
**/android/app/debug
**/android/app/profile
**/android/app/release
